<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d %p %c{2} {%t} %l %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="target/logs/tests-automation.log">
            <PatternLayout>
                <Pattern>%d %p %c{2} {%t} %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>